.food {
    margin-top: 51px;

    &__title {
        @include font(32px, 700, normal);
        color: $title;
        border-left: 4px solid #618967;
        padding-left: 19px;
    }

    &__content {
        margin-top: 50px;
    }

    &__card {
        border-radius: 10px;
        background: rgba(73, 69, 68, 1);
        max-width: 326px;
    }

    &__wrap {
        padding: 15px 20px 18px 20px;

        &--top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--weight {
            @include font (12px, 400, normal);
            color: $sub;
        }

        &--title {
            color: $title;
            @include font (22px, 700, normal);
        }

        &--bot {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &--sub-title {
            @include font (20px, 600, normal);
            color: $title;
        }

    }
    &__description {
        margin-top: 5px;
        @include font (13px, 400, 131%);
        color: $sub;

    }
    &__btn{
        @include font (14px, 600, normal);
        color: $title;
        padding: 10px 10px 10px 19px;
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 10px;
        border: 0;
        background: #618967;
    }
}