.header {
    padding-top: 23px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 72px;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 32px;
        height: 32px;
        padding: 9px 8px 9px 8px;
        background: #72a479;
        border-radius: 100%;

        img {
            text-align: center;
        }

    }

    &__call {
        margin-left: 30px;
        display: flex;
        align-items: center;
        gap: 10px;

    }

    &__wrap {
        span {
            @include font(12px, 400, 167%);
            color: $sub;
        }

        b {
            @include font(16px, 700, 167%);
            color: $title;
        }
    }

    &__label {
        background: #504b4a;
        padding: 14px;
        border-radius: 10px;
        display: flex;
        align-items: center;

        img {
            width: 24px;
        }
    }

    &__input {
        outline: none;
        @include font(18px, 400, normal);
        border: 0;
        margin-left: 10px;
        padding-right: 256px;
        background: none;
    }

    &__btn {
        display: flex;
        align-items: center;
        @include font(14px, 600, normal);
        color: $title;
        padding: 7px 13px 7px 24px;
        background: linear-gradient(133deg, #618967 0%, #72a479 100%);
        border-radius: 10px;
        border: none;
        font-family: sans-serif;
        span {
            position: relative;
            width: 24px;
            height: 24px;
            padding-top: 4px;
            margin-left: 32px;
            background: #fff;
            color: #000;
            border-radius: 100%;
            text-align: center;
        }

        span::before{
            content: '';
            left: -12px;
            top: -4px;
            position: absolute;
            width: 1px;
            height: 30px;
            background-color: rgba(255, 255, 255, 0.3);
            z-index: 10;
        }
    }


}